<nav class="bg-_red-500 shadow-md p-4 w-full fixed z-[100]" x-data="{ open: false, showModal: false }">
  <div class="flex justify-between items-center">
    <a href="/">
      <img src="/img/logo/logo.svg" alt="Logo" class="h-12 xl:h-18" />
    </a>

    <nav class="hidden md:flex gap-4 lg:gap-10 text-white text-md lg:text-xl">
      <a href="/pizzas" class="hover:text-orange-500 transition font-medium">เมนูทั้งหมด</a>
      <a href="/pizzas/custom" class="hover:text-orange-500 transition font-medium">คัสต้อมพิซซ่า</a>
      <a href="/forum" class="hover:text-orange-500 transition font-medium">ฟอรัม</a>
      <a href="/history" class="hover:text-orange-500 transition font-medium">ประวัติการสั่งซื้อ</a>
      <% if(user && user.role == 'ADMIN') { %>
      <a href="/dashboard" class="hover:text-orange-500 transition font-medium">หลังร้าน</a>
      <% } %>
    </nav>

    <div class="flex gap-4 items-center">
      <a href="/orders">
        <div class="relative">
          <div
            class="absolute flex items-center justify-center text-white text-[10px] text-center right-0 bottom-0 w-[16px] h-[16px] rounded-full bg-yellow-300">
            <%= user ? user.baskets.length : 0%>
          </div>
          <i data-lucide="shopping-basket" class="text-white w-10 h-10"></i>
        </div>
      </a>

      <% if (user) { %>
        <div class="relative">
          <button @click="open = !open" class="hidden md:block text-white text-sm lg:text-lg font-medium border border-white py-2 px-4 rounded-full">
            <%= user.name %>
          </button>
          <!-- logout nav -->
          <div x-show="open" @click.away="open = false" class="hidden md:block absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg py-2 z-50">
            <a href="/auth/logout" class="block px-4 py-2 text-_red-500 hover:bg-red-50 mx-2 rounded-md flex items-center gap-2 font-semibold"> <i data-lucide="log-out"></i> ออกจากระบบ </a>
          </div>
        </div>
        <% } else { %>
          <a href="/auth/google">
            <button
              class="hidden md:block border-2 border-white text-white text-lg px-6 py-2 rounded-full hover:bg-orange-600 transition">
              เข้าสู่ระบบ
            </button>
          </a>
          <% } %>

            <button class="md:hidden text-white text-3xl" @click="open = !open">&#9776;</button>
    </div>
  </div>

  <div x-show="open" x-transition.opacity
    class="md:hidden absolute top-full left-0 w-full bg-_red-500 text-white flex flex-col space-y-4 shadow-xl">
    <a href="/pizzas" class="hover:text-orange-500 transition font-medium px-4 py-2">เมนูทั้งหมด</a>
    <a href="/pizzas/custom" class="hover:text-orange-500 transition font-medium px-4 py-2">คัสต้อมพิซซ่า</a>
    <a href="/forum" class="hover:text-orange-500 transition font-medium px-4 py-2 ">ฟอรัม</a>
    <a href="/history" class="hover:text-orange-500 transition font-medium px-4 py-2 ">ประวัติการสั่งซื้อ</a>
    <% if (user) { %>
      <% if(user.role == 'ADMIN') { %>
        <a href="/dashboard" class="hover:text-orange-500 transition font-medium px-4 py-2">หลังร้าน</a>
      <% } %>
      <a href="/orders" class="hover:text-orange-500 transition font-medium px-4 py-2">ตะกร้าสินค้า</a>
      <div class="flex items-center justify-between px-4 py-2 bg-white text-_red-500 h-16">
        <div class="text-base font-semibold">
          <%= user.name %>
        </div>
        <div class="w-[2px] h-full bg-_gray-100"></div>
        <a href="/auth/logout" class="inline-flex justify-center items-center gap-2 font-semibold">
          <i data-lucide="log-out"></i>
          ออกจากระบบ
        </a>
      </div>
      <% } else { %>
        <a href="/auth/google">
          <button
            class="inline-flex justify-center items-center gap-2 bg-white w-full h-16 text-_red-500 text-lg font-semibold">
            <i data-lucide="door-open"></i>
            เข้าสู่ระบบ
          </button>
        </a>
        <% } %>
  </div>
</nav>