<nav class="w-full flex justify-between items-center p-5 shadow-xl z-[5]">
  <div>logo</div>
  <ul class="flex gap-5">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <div>LOGIN</div>
</nav>
