<section class="flex flex-col bg-gray-100 container mx-auto p-5 max-w-7xl mt-5">
    <!-- back button -->
    <a href="/dashboard">
        <button class="bg-_red-500 text-white px-5 py-3 rounded-lg inline-flex items-center justify-self-start">
        <i data-lucide="chevron-left"></i>
        กลับ </button>
    </a>

    <!-- table section -->
    <div class="flex flex-col w-full mt-4">
        <!-- title table -->
        <div class="flex justify-between items-center">
            <h1 class="text-xl text-center">วัตถุดิบทั้งหมด</h1>
            <button class="bg-_yellow-100 hover:bg-yellow-400 px-6 py-3 rounded-lg inline-flex items-center gap-2"> 
                <i data-lucide="plus"></i>เพิ่มเมนูใหม่</button>
        </div>
        <!-- table -->
         <div class="w-full">
             <div class="overflow-x-auto">
                <div class="mt-5 min-w-full inline-block align-middle">
                    <div class="overflow-hidden">
                        <table class="min-w-full divide-y divide-gray-200 border-2 border-gray-200 rounded-md">
                            <thead>
                            <tr>
                                <th scope="col" class="px-6 py-3 text-start text-sm sm:text-md font-medium text-gray-500">ไอดี</th>
                                <th scope="col" class="px-6 py-3 text-start text-sm sm:text-md font-medium text-gray-500">รายการ</th>
                                <th scope="col" class="px-6 py-3 text-start text-sm sm:text-md font-medium text-gray-500">หมวดหมู่</th>
                                <th scope="col" class="px-6 py-3 text-start text-sm sm:text-md font-medium text-gray-500">จำนวน</th>
                                <th scope="col" class="px-6 py-3 text-start text-sm sm:text-md font-medium text-gray-500">สถานะ</th>
                                <th scope="col" class="px-6 py-3 text-start text-sm sm:text-md font-medium text-gray-500">เพิ่มเติม</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- มาใส่เองนะเพื่อน -->
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
         </div>
    </div>

</section>